# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# SQLite database
instance/
*.sqlite
*.sqlite3
users.db

# Logs & Cache
*.log
*.pid
*.swp

# Environment variables
.env
.env.local
.env.development
.env.production

# IDE/editor specific files
.vscode/
.idea/
*.iml

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

